<div class="row">
  <div class="col-md-6">
    <div class="col-md-offset-3">

<%= form_for(@dog) do |f| %>
  <% if @dog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dog.errors.count, "error") %> prohibited this dog from being saved:</h2>

      <ul>
      <% @dog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nombre %><br>
    <%= f.text_field :name,  class: "form-control" %>
  </div>
   <div class="field", class: "form-control" >
    <%= f.label :"Ciudad o comuna" %><br>
     <%= f.select(:city_id, options_for_select(City.all.map{|b| [b.name, b.id]}
   ), {}, class: "form-control") %>
  </div>

  <div class="field">
    <%= f.label :Genero %><br>
    <%= f.select :sex, options_for_select([['Hembra'], ['Macho']]), {}, class: "form-control" %>
    
  </div>
  <div class="field">
    <%= f.label :Raza %><br>
     <%= f.select(:breed_id, options_for_select(Breed.all.map{|b| [b.name, b.id]}
   ), {}, class: "form-control") %>
    
  </div>
  <div class="field">
    <%= f.label :Edad %><br>
     <%= f.select(:age_id, options_for_select(Age.all.map{|b| [b.name, b.id]}
   ), {}, class: "form-control") %>
  </div>

  <div class="field">
    <%= f.label :Tamaño %><br>
      <%= f.select(:size, options_for_select([['Pequeño' , 'Pequeño'],['Mediano' ,'Mediano' ],['Grande' , 'Grande']

    ]), {}, class: "form-control") %>
  </div>
  <div class="field">
    <%= f.label :"El Siguiente Periodo es:" %><br>
    <%= f.select(:nextperiod, options_for_select([ ['Ahora' , 'Ahora'],['En 1 Semana' , 'En 1 Semana'],['En 2 Semanas' , 'En 2 Semanas'],['En 3 Semanas' , 'En 3 Semanas'],['En 1 Mes' , 'En 1 Mes'],['En 2 Meses' , 'En 2 Meses'],['En 3 Meses' , 'En 3 Meses'],['En 4 Meses' , 'En 4 Meses'],['En 5 Meses' , 'En 5 Meses'],['En 6 Meses' , 'En 6 Meses']

    ]), {}, class: "form-control") %>
  </div>
  
  <div class="field" >
    <%= f.label :"Has una pequeña descripción de tu mascota" %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :"Sube una foto de tu mascota" %><br>
    <%= f.text_field :photo, class: "form-control" %>
  </div>
  <div class="field">
    
    <%= hidden_field_tag :user_id, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>
</div>
</div>