

<%= form_for(@dog) do |f| %>
  <% if @dog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dog.errors.count, "error") %> prohibited this dog from being saved:</h2>

      <ul>
      <% @dog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name,  class: "form-control" %>
  </div>
   <div class="field">
    <%= f.label :Ciudad %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :Comuna %><br>
   <%= f.select(:commune, options_for_select([['Santiago' , 1], ['Cerrillos' , 2], ['Cerro Navia' , 3], ['Conchalí' , 4], ['El Bosque' , 5], ['Estación Central' , 6], ['Huechuraba' , 7], ['Independencia' , 8], ['La Cisterna', 9], ['La Florida' , 10], ['La Granja' , 11], ['La Pintana' , 12], ['La Reina' , 13], ['Las Condes' , 14], ['Lo Barnechea' , 15], ['Lo Espejo' , 16], ['Lo Prado' , 17], ['Macul' , 18], ['Maipú' , 19], ['Ñuñoa' , 20], ['Pedro Aguirre Cerda' , 21], ['Peñalolén' , 22], ['Providencia' , 23], ['Pudahuel' , 24], ['Quilicura' , 25], ['Quinta Normal' , 26], ['Recoleta' , 27], ['Renca' , 28], ['San Joaquín' , 29], ['San Miguel' , 30], ['San Ramón' , 31], ['Vitacura' , 32]
   ])) %>
</div>

  <div class="field">
    <%= f.label :Genero %><br>
    <%= f.select(:sex, options_for_select([['Hembra'], ['Macho']])) %>
    
  </div>
  <div class="field">
    <%= f.label :breed %><br>
     <%= f.select(:breed_id, options_for_select(Breed.all.map{|b| [b.name, b.id]}
   )) %>
    
  </div>
  <div class="field">
    <%= f.label :age %><br>
     <%= f.select(:age, options_for_select([['Menos de un año' , 1],['1 año' , 2],['2 años' , 3],['3 años' , 4],['4 años' , 5],['5 años' , 6],['6 años' , 7],['7 años' , 8],['8 años' , 9],['9 años' , 10],['10 años' , 11],['11 años' , 12],['12 años' , 13],['13 años' , 14],['14 años' , 15],
    ])) %>

  </div>
  <div class="field">
    <%= f.label :size %><br>
      <%= f.select(:size, options_for_select([['Pequeño' , 1],['Mediano' , 2],['Grande' , 3]

    ])) %>
  </div>
  <div class="field">
    <%= f.label :nextperiod %><br>
    <%= f.select(:nextperiod, options_for_select([ ['Ahora' , 1],['1 Semana' , 2],['2 Semanas' , 3],['3 Semanas' , 4],['1 Mes' , 5],['2 Meses' , 6],['3 Meses' , 7],['4 Meses' , 8],['5 Meses' , 9],['6 Meses' , 10]

    ])) %>
  </div>
  
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :photo %><br>
    <%= f.text_field :photo %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= hidden_field_tag :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
