<p id="notice"><%= notice %></p>

<h1>Elige uno de tus mascotas para buscarle pareja</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Ciudad o Comuna</th>
      <th>Genero</th>
      <th>Raza</th>
      <th>Edad</th>
      <th>Tamaño</th>
      <th>Siguiente Periodo</th>
      <th>Descripción</th>
      <th>Foto</th>
      <!-- <th>User</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody >
    <% @mydogs.each do |dog| %>
      <tr>
        <td><%= dog.name %></td>
        <td><%= dog.city.name %></td>
        <td><%= dog.sex %></td>
        <td><%= dog.breed.name %></td>
        <td><%= dog.age.name %></td>
        <td><%= dog.size %></td>
        <td><%= dog.nextperiod %></td>
        <td><%= dog.description %></td>
        <td><%= image_tag(dog.photo, size:"80") %></td>
        <td><%= link_to 'Buscar pareja', tomatch_path(dog) %> | <%= link_to 'Edit', edit_dog_path(dog) %></td>

        <!-- <td><%= dog.user %></td> -->
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dog', new_dog_path %>
