<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @dog.name %>
</p>

<p>
  <strong>Raza:</strong>
  <%= @dog.breed.name %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @dog.age.name %>
</p>

<p>
  <strong>Tamaño:</strong>
  <%= @dog.size %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @dog.sex %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @dog.description %>
</p>

<p>
  <strong>Ciudad o Comuna:</strong>
  <%= @dog.city.name %>
</p>

<p>
  <strong>Foto:</strong>
  <%=image_tag(@dog.photo)%>
</p>

<p>
  <strong>Disponibilidad:</strong>
  <%= @dog.nextperiod %>
</p>

<p>
  <strong>User:</strong>
  <%= @dog.user %>
</p>

<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>
