<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-3 ">
    <div class="panel panel-info">
      <div class="panel-heading">
        Cambia de perro
      </div>
      <div class="panel-body">
        <% @mydogs.each do |dog| %>
        <% if dog != @mydog %>
        <a href="<%= tomatch_path(dog)%>" title="Emparejar"> 
          <%= dog.name %>
          <%= image_tag(dog.photo, :class =>'img-responsive img-thumbnail')%>
        </a>
        <% end %>   
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-8 well">
    <h1>Buscando pareja a <%= @mydog.name %></h1>
    <%= image_tag(@mydog.photo, :class => 'img-responsive img-thumbnail') %>
    <%= link_to 'Edit', edit_dog_path(@mydog) %>
  </div>

  
</div>
<div class="row">
  <% if @otherdog ==nil%>
  <div class="alert-danger"><h3>No hemos encontrado pareja para <%= @mydog.name %>. Vuelve a intentarlo en los próximos minutos.</h3>
  </div>
  <% else %>
  <div class="col-sm-6 col-md-8">
    <div class="thumbnail">
      <%= image_tag(@otherdog.photo, :class =>'img-responsive img-thumbnail')%>
      <div class="caption">
        <h3><%= @otherdog.name %></h3>
        <p><%= @otherdog.description %></p>
        <p><a href="<%= yesmatch_path(@mydog.id, @otherdog.id)%>" class="btn btn-primary" role="button">Aceptar</a> <a href="<%= notmatch_path(@mydog.id, @otherdog.id)%>" class="btn btn-default" role="button">Rechazar</a></p>
      </div>
    </div>
  </div>
  <% end %>
</div>


